.dotted-box {
  border: 2px dotted #888; /* Set the border style to dotted and color to black */
  border-radius: 20px; /* Set border radius for rounded corners */
  padding: 10px; /* Add some padding to the content inside the box */
}

.center-stuff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.btn {
  background-color: #cde;
  color: black;
  padding: 8px;
  margin: 10px;
  font-size: 16px;
  /* border: 2px solid black; */
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #def;
}

.vis midi-player {
  display: block;
  width: inherit;
  margin: 4px;
  margin-bottom: 0;
}

.vis midi-player::part(control-panel) {
  /* background: #252a34; */
  border: 2px solid #000;
  border-radius: 10px 10px 0 0;
}

.vis midi-player::part(play-button) {
  color: #222;
  border: 2px solid currentColor;
  background-color: #ddd;
  border-radius: 20px;
  transition: all 0.2s;
  content: "hello";
}

.vis midi-player::part(play-button):hover {
  color: #000;
  background-color: #fff;
  border-radius: 10px;
}

midi-player::part(time) {
  font-family: monospace;
}

/* Custom visualizer style */
.vis midi-visualizer .piano-roll-visualizer {
  /* background: #252a34; */
  border: 2px solid black;
  border-top: none;
  border-radius: 0 0 10px 10px;
  margin: 4px;
  margin-top: 0;
  overflow: auto;
}

.alone midi-visualizer .piano-roll-visualizer {
  /* background: #252a34; */
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin: 5px;
  overflow: auto;
}

midi-visualizer svg rect.note {
  opacity: 0.6;
  stroke-width: 2;
}

midi-visualizer svg rect.note[data-instrument="0"] {
  fill: #e03c34;
}

midi-visualizer svg rect.note[data-instrument="1"] {
  fill: #1c71d8;
}

.acc midi-visualizer svg rect.note[data-instrument="0"] {
  fill: #1c71d8;
}

.form midi-visualizer svg rect.note[data-instrument="1"] {
  fill: #aaa;
}

.legend {
  border: 2px dotted #888; /* Set the border style to dotted and color to black */
  border-radius: 20px; /* Set border radius for rounded corners */
  padding-bottom: 0px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #000; /* Black border for better visibility */
}

/* @mixin phrase($phs...) { */
/*     $cur: 0; */
/*     @for $k from 0 to math.div(length($phs), 2) { */
/*         $color: nth($phs, $k * 2 + 1); */
/*         $len: nth($phs, $k * 2 + 2); */
/*         @debug $color, $len; */
/*         $background: linear-gradient(90deg, $color $cur*80px+1px ($cur+$len)*80px-1px, $l ($cur+$len)*80px-1px ($cur+$len)*80px+1px); */
/*         $cur: $cur + $len; */
/*     } */
/* } */
/* #fig2 midi-visualizer .piano-roll-visualizer svg{   */
/*     @include phrase($A, 4, $B, 1); */
/* } */
midi-visualizer .piano-roll-visualizer svg {
  background: linear-gradient(90deg, #aaa 1px, transparent 1px 20px, rgba(170, 170, 170, 0.3333333333) 21px, transparent 21px 40px, rgba(170, 170, 170, 0.3333333333) 41px, transparent 41px 60px, rgba(170, 170, 170, 0.3333333333) 61px, transparent 61px) left/80px repeat;
}

midi-visualizer svg rect.note[data-is-drum=true] {
  fill: #888;
  /* stroke: #888; */
}

midi-visualizer svg rect.note.active {
  opacity: 0.9;
  stroke: #000;
}

.type1 midi-visualizer .piano-roll-visualizer svg {
  background: linear-gradient(90deg, rgba(170, 170, 170, 0.4666666667) 1px, transparent 1px 20px, rgba(170, 170, 170, 0.3333333333) 21px, transparent 21px 40px, rgba(170, 170, 170, 0.3333333333) 41px, transparent 41px 60px, rgba(170, 170, 170, 0.3333333333) 61px, transparent 61px) left/80px repeat, linear-gradient(90deg, #efefef 1px 319px, #aaa 319px 321px, #faf5eb 321px 639px, #aaa 639px 641px, #faf5eb 641px 959px, #aaa 959px 961px, #faedf7 961px 1599px, #aaa 1599px 1601px, #ebeffa 1601px 1919px, #aaa 1919px 1921px, #faf5eb 1921px 2239px, #aaa 2239px 2241px, #faedf7 2241px 2879px, #aaa 2879px 2881px, #efefef 2881px 3199px, #aaa 3199px 3201px);
}

.type2 midi-visualizer .piano-roll-visualizer svg {
  background: linear-gradient(90deg, rgba(170, 170, 170, 0.4666666667) 1px, transparent 1px 20px, rgba(170, 170, 170, 0.3333333333) 21px, transparent 21px 40px, rgba(170, 170, 170, 0.3333333333) 41px, transparent 41px 60px, rgba(170, 170, 170, 0.3333333333) 61px, transparent 61px) left/80px repeat, linear-gradient(90deg, #faf5eb 1px 639px, #aaa 639px 641px, #faedf7 641px 1279px, #aaa 1279px 1281px, #faf5eb 1281px 1919px, #aaa 1919px 1921px, #faedf7 1921px 2559px, #aaa 2559px 2561px, #faedf7 2561px 3199px, #aaa 3199px 3201px);
}

.type3 midi-visualizer .piano-roll-visualizer svg {
  background: linear-gradient(90deg, rgba(170, 170, 170, 0.4666666667) 1px, transparent 1px 20px, rgba(170, 170, 170, 0.3333333333) 21px, transparent 21px 40px, rgba(170, 170, 170, 0.3333333333) 41px, transparent 41px 60px, rgba(170, 170, 170, 0.3333333333) 61px, transparent 61px) left/80px repeat, linear-gradient(90deg, #efefef 1px 319px, #aaa 319px 321px, #faf5eb 321px 639px, #aaa 639px 641px, #faedf7 641px 959px, #aaa 959px 961px, #ebeffa 961px 1599px, #aaa 1599px 1601px, #faf5eb 1601px 1919px, #aaa 1919px 1921px, #faedf7 1921px 2239px, #aaa 2239px 2241px, #efefef 2241px 2559px, #aaa 2559px 2561px);
}

/*# sourceMappingURL=styles.css.map */
